# This is an example on what key:value pairs you need to run the test scripts in your own.

# script_1 uses a Steam API key and a Steam ID of a Profile of your choice. Use something like https://www.steamidfinder.com/ to find your profile ID number
STEAM_API=xxxxxxxxxxxxxxxxxx
STEAM_ID=xxxxxxxxxxx
